.eco {
  padding-top: 1.86rem;
  .service__title {
    margin: 0 auto 5rem;
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  &-item {
    width: calc(100% / 3);
    padding: 4rem 4.5rem;
    background-color: #fff;
    box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.16);
    &:nth-child(2) {
      background-color: #3c3c3c;
      color: #fff;
      .eco-list {
        li {
          &:before {
            background-color: $c-secondary;
          }
        }
      }
      .eco-item {
        &-title {
          margin-bottom: 3rem;
        }
        &-line {
          margin-bottom: 3rem;
          background-color: rgba(255, 255, 255, 0.3);
        }
        &-title {
          @include fz-22;
        }
      }
    }
    &:nth-child(3) {
      color: #fff;
      background-color: #0086da;
      padding: 5rem 4.5rem;
      .eco-list {
        li {
          &:before {
            background-color: $c-secondary;
          }
        }
      }
      .eco-item {
        &-title {
          margin-bottom: 5rem;
        }
        &-line {
          margin-bottom: 5rem;
          background-color: rgba(255, 255, 255, 0.3);
        }
        &-title {
          @include fz-24;
        }
      }
    }
    &-title {
      display: flex;
      align-items: flex-start;
      @include fz-20;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.5;
      margin-bottom: 3.5rem;
      img {
        width: 3.6rem;
        margin-right: 2rem;
      }
    }
    &-line {
      height: 1px;
      background-color: rgba(112, 112, 112, 0.2);
      margin-bottom: 3.5rem;
    }
  }
  &-list {
    @include fz-16;
    li {
      margin-bottom: 2.2rem;
      padding-left: 3rem;
      position: relative;
      line-height: 2;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        display: block;
        width: 0.6rem;
        height: 0.6rem;
        position: absolute;
        transform-origin: left top;
        top: 1.2rem;
        left: 0;
        background-color: $c-primary;
        transform: rotate(-45deg);
      }
    }
    .c-sec {
      color: $c-secondary;
      font-weight: bold;

      &:before {
        background-color: $c-secondary;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .eco {
    &-item {
      padding: 3rem 1.5rem;
      &:nth-child(2) {
        .eco {
          &-item {
            &-title {
              font-size: 1.6rem;
              margin-bottom: 2rem;
            }
            &-line {
              margin-bottom: 2rem;
            }
          }
        }
      }
      &:nth-child(3) {
        padding: 3rem 1.5rem;
        .eco {
          &-item {
            &-title {
              font-size: 1.8rem;
              margin-bottom: 3rem;
            }
            &-line {
              margin-bottom: 2rem;
            }
          }
        }
      }
      &-title {
        br {
          display: none;
        }
        img {
          width: 3rem;
          margin-right: 1rem;
        }
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
      }
      &-line {
        margin-bottom: 1.5rem;
      }
    }
    &-list li {
      margin-bottom: 0.5rem;
      br {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .eco {
    &-item {
      width: 100%;

      &-title {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        align-items: center;
        img {
          margin-top: -3px;
        }
      }
      &-line {
        margin-bottom: 1.5rem;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .eco {
    &-list {
      li {
        width: 100%;
      }
    }
  }
}
