.customer {
  position: relative;

  @media (max-width: 1023px) {
    padding: 5rem 0;
  }

  &__list {
    @include mid-flex();
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;

    @media (max-width: 739px) {
      flex-direction: column;
      -webkit-flex-direction: column;
    }
  }

  & .section__title-40 {
    margin-bottom: 1rem;
  }

  &__item {
    width: 50%;
    padding: 3rem 1.5rem;

    @media (max-width: 739px) {
      width: 100%;
      padding: 2rem 1.5rem;
    }

    &>.customer__wrap {
      @include mid-flex();
      position: relative;
      border: 1px solid rgba(112, 112, 112, 0.2);
      background: #f8f8f8;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        @media (min-width: 1201px) {
          box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
          border: 1px solid transparent;
        }
      }

      @media (max-width: 414px) {
        flex-direction: column;
        -webkit-flex-direction: column;
      }

      .customer__logo {
        width: 50%;
        background: #f8f8f8;

        @media (max-width: 739px) {
          padding: 1.5rem;
        }

        @media (max-width: 1200px) {
          width: 40%;
        }

        @media (max-width: 739px) {
          width: 50%;
        }

        @media (max-width: 414px) {
          width: 100%;
        }

        &>img {
          width: max-content;
          object-fit: cover;
          vertical-align: -webkit-baseline-middle;
          mix-blend-mode: darken;
          margin: auto;

          @media (max-width: 1200px) {
            width: 70%;
          }

          @media (max-width: 739px) {
            width: max-content;
          }

          @media (max-width: 414px) {
            margin: 5rem auto;
          }
        }

        &>.sticked {
          position: absolute;
          top: 1.8rem;
          left: 1.8rem;
          padding: 0.5rem 1rem;
          background: $c-secondary;

          @include fz-14;
          //   line-height: calc(28 / 14);
          text-transform: uppercase;
          color: #fff;

          @media (max-width: 739px) {
            top: 1.5rem;
            left: 1.5rem;
          }
        }
      }

      .customer__content {
        width: 50%;
        padding: 2rem;
        background: #fff;

        @media (max-width: 1200px) {
          width: 60%;
          padding: 1.5rem;
        }

        @media (max-width: 739px) {
          width: 50%;
        }

        @media (max-width: 414px) {
          width: 100%;
        }

        &>.customer {
          &__name {
            @include fz-24;
            font-weight: bold;
            margin-bottom: 2.5rem;
          }

          &__desc {
            margin-bottom: 2.5rem;

            >p {
              @include fz-16;
              line-height: calc(24 / 16);
              color: rgba(0, 0, 0, 0.6);

              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }

          &__tech {
            &>ul {
              display: flex;
              flex-wrap: wrap;

              &>li {
                margin: 0.3rem;
                background: #f6f6f6;

                &>span {
                  padding: 0.6rem 1rem;
                  @include fz-16;
                  line-height: calc(24 / 16);
                  color: #3c3c3c;
                }
              }
            }
          }
        }
      }

      .customer__btn {
        position: absolute;
        bottom: 0;
        right: 3.4rem;
        width: 4rem;
        height: 4rem;
        background: $c-secondary;
        transform: translateY(50%) rotate(45deg);
        transition: 0.3s;
        @include mid-flex();

        &:hover {
          @media (min-width: 1201px) {
            background: $c-primary;
          }
        }

        &>img {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__viewmore {
    margin-top: 7.8rem;
    @include mid-flex();
    justify-content: space-between;
    -webkit-justify-content: space-between;
    position: relative;

    &>a {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: 1.2rem;
      width: 6rem;
      height: 6rem;
      background: $c-secondary;
      box-shadow: 1.5rem 1.5rem 4rem rgba(0, 0, 0, 0.16);
      transition: 0.3s;

      &:hover {
        background: $c-primary;
      }

      @include mid-flex();

      &>img {
        transform: rotate(45deg);
      }
    }

    &>.viewmore__line {
      width: 70%;
      height: 1px;
      background: $c-secondary;
      margin-right: 2rem;
    }

    &>.viewmore__txt {
      @include fz-20;
      font-weight: bold;
      text-transform: uppercase;
      line-height: calc(24 / 20);
    }
  }

  &-other {
    position: relative;

    &__cubes {
      position: absolute;
      transform: rotate(45deg);
      z-index: -1;
      pointer-events: none;

      @media (max-width: 1770px) {
        opacity: 0.2;
      }

      &.cubes__46 {
        top: 38.68rem;
        left: -28rem;
        width: 46rem;
        height: 46rem;
        background: $c-primary;
      }

      &.cubes__5_4 {
        top: 82.5rem;
        right: 9.47rem;
        width: 5.4rem;
        height: 5.4rem;
        background: $c-sky-light;
      }

      &.cubes__17 {
        top: 92.07rem;
        right: -8.5rem;
        width: 17rem;
        height: 17rem;
        background: $c-primary;
      }
    }

    .mona__title {
      margin-bottom: 4.3rem;
    }

    &__search {
      margin-bottom: 3rem;

      >.search__title {
        @include fz-20;
        font-weight: bold;
        margin-bottom: 3rem;
      }
    }

    &__list {
      @include mid-flex();
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      width: calc(100% + 3rem);
      margin-left: -1.5rem;

      @media (max-width: 1023px) {
        width: calc(100% + 1.5rem);
        margin-left: -0.75rem;
      }
    }

    &__item {
      width: calc(100% * (3 / 12));
      height: 28.5rem;
      padding: 1.5rem;

      @media (max-width: 1023px) {
        padding: 0.75rem;
      }

      @media (max-width: 900px) {
        width: calc(100% * (4 / 12));
      }

      @media (max-width: 739px) {
        width: 50%;
      }

      @media (max-width: 414px) {
        width: 100%;
      }
    }

    &__wrap {
      height: 100%;
      border: 1px solid rgba(112, 112, 112, 0.2);
      position: relative;
      @include mid-flex();
      cursor: pointer;
      transition: 0.4s;
      background: #fff;

      &:hover {
        .customer-other__hover {
          height: 100%;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        .customer-other__view {
          background: rgba(255, 255, 255, 0.2);
          color: #fff;
        }
      }

      .customer-other {
        &__sticked {
          position: absolute;
          top: 2.3rem;
          left: 2.75rem;
          background: #f6f6f6;
          padding: 0.5rem;
          text-align: center;

          @include fz-14;
          color: #3c3c3c;
        }

        &__img {
          padding: 1.5rem;

          &>img {
            width: 100%;
            object-fit: cover;
            vertical-align: -webkit-baseline-middle;
          }
        }

        &__view {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 1.3rem;
          text-align: center;
          background: #f6f6f6;
          z-index: 1;
          transition: 0.3s;
          display: inline-block;

          @include fz-16;
          color: #3c3c3c;
        }

        &__hover {
          position: absolute;
          height: 0%;
          bottom: 0;
          width: 100%;
          background: $c-primary;
          text-align: center;
          padding: 2rem 2.5rem;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: 0.3s;

          &-text {
            @include fz-24;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 2rem;
          }

          &-img {
            margin-bottom: 2rem;

            &>img {
              margin: auto;
              max-width: 100%;
              object-fit: cover;
              vertical-align: -webkit-baseline-middle;
            }
          }

          &-desc {
            @include fz-16;
            color: rgba(255, 255, 255, 0.8);

            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }

    .pagination {
      margin-top: 3rem;

      &>ul {
        justify-content: center;
        -webkit-justify-content: center;
      }
    }
  }

  &__cubes {
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
    pointer-events: none;

    @media (max-width: 1770px) {
      opacity: 0.2;
    }

    &.cubes__37 {
      top: 53.36rem;
      left: -18.5rem;
      width: 37rem;
      height: 37rem;
      background: $c-primary;
    }

    &.cubes__8_6 {
      top: 101.53rem;
      left: 9.6rem;
      width: 8.6rem;
      height: 8.6rem;
      background: $c-sky-light;
    }
  }
}