.banner-child {
  position: relative;
  background-repeat: no-repeat;
  background-position: left 45% bottom 6rem;
  background-color: $c-primary;
  background-image: url(../assets/images/banner-child.png);

  .banner__txtbg {
    top: 2rem;
    z-index: 0;
  }

  &.banner-child-30 {
    background-image: url(../assets/images/banner-child-ct.png);

    .banner-child-wrap {
      min-height: 30rem;
    }

    .banner-child-bg {
      &.bg-1 {
        bottom: 4.64rem;
        left: -100rem;
        background: rgba(255, 255, 255, 0.2);
      }

      &.bg-2 {
        bottom: -28.1rem;
        left: -4rem;
      }

      &.bg-3 {
        top: -17.6rem;
        right: 0rem;
      }

      &.bg-4 {
        bottom: 1.14rem;
        right: -58rem;
      }
    }
  }

  &-social {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(50%);
    z-index: 3;
    transition: 0.3s;

    &>.container {
      transition: 0.3s;
    }

    @media (max-width: 850px) {
      width: calc(100% + 3rem);
      margin-left: -1.5rem;
      transform: translateY(100%);
    }

    &__list {
      @include mid-flex();
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      transition: 0.3s;

      @media (max-width: 739px) {
        flex-direction: column;
        -webkit-flex-direction: column;
      }

      &>.banner-child-social__item {
        width: calc(100% * (4 / 12));
        position: relative;
        transition: 0.3s;

        @media (max-width: 739px) {
          width: 100%;
        }

        &:last-child {
          &>.social__wrap::after {
            content: none;
          }
        }

        &>.social__wrap {
          padding: 4.2rem 3.5rem;
          background: #f8f8f8;
          display: flex;
          display: -webkit-flex;
          position: relative;
          transition: 0.3s;

          @media (max-width: 739px) {
            border-bottom: 1px solid rgba(112, 112, 112, 0.2);
            padding: 1.2rem 1rem;
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: 10.4rem;
            background: rgba(112, 112, 112, 0.2);

            @media (max-width: 739px) {
              display: none;
            }
          }

          &:hover {
            @media (min-width: 1024px) {
              background: #fff;
              box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);

              .social__txt-header {
                font-weight: bold;
                -webkit-line-clamp: unset;
              }

              .social__btn {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
              }

              &::after {
                opacity: 0;
              }
            }
          }

          .social__img {
            margin-right: 1.9rem;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            flex-shrink: 0;

            @media (max-width: 850px) {
              width: 4rem;
              height: 4rem;
            }

            @media (max-width: 739px) {
              width: 6rem;
              height: 6rem;
            }

            &>img {
              width: 100%;
              object-fit: cover;
              vertical-align: -webkit-baseline-middle;
            }
          }

          .social__txt {
            transition: 0.3s;

            &-header {
              display: inline-block;
              margin-bottom: 5px;
              @include fz-20;
              line-height: calc(28 / 20);
              color: #3c3c3c;
              transition: 0.3s;

              @media (max-width: 739px) {
                -webkit-line-clamp: unset;
              }
            }

            &-footer {
              @include fz-14;

              @media (max-width: 850px) {
                display: flex;
                flex-direction: column;
              }

              .count {
                font-weight: bold;
                color: $c-secondary;
                margin-right: 1px;

                @media (max-width: 850px) {
                  display: inline-block;
                }
              }

              .text {
                color: #3c3c3c;

                @media (max-width: 850px) {
                  display: inline-block;
                }
              }
            }
          }

          .social__btn {
            position: absolute;
            right: 3.1rem;
            bottom: 0;
            transform: translateY(50%) rotate(45deg);
            width: 5rem;
            height: 5rem;
            background: $c-secondary;
            @include mid-flex();
            transition: 0.3s;

            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @media (max-width: 1023px) {
              display: none;
            }

            &:hover {
              background: $c-primary;
            }

            &>img {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

.banner-child-wrap {
  position: relative;
  z-index: 2;
  padding: 10rem 0;
  min-height: 40rem;
  max-width: 72rem;
  margin: auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tt {
    position: relative;
    font-size: 7rem;
  }
}

.banner-child-img {
  position: absolute;
  z-index: 0;
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);

  img {
    height: 100%;
    max-width: none;
  }

  &-1 {
    width: 55rem;
    height: 55rem;
    top: -18.8rem;
    left: -9rem;
  }

  &-2 {
    width: 80rem;
    height: 80rem;
    top: -10.6rem;
    right: -30.4rem;
  }
}

.banner-child-bg {
  position: absolute;
  z-index: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);

  &.bg-1 {
    bottom: 4.64rem;
    left: -89rem;
    width: 112.6rem;
    height: 41.2rem;
    background: rgba(255, 255, 255, 0.2);
  }

  &.bg-2 {
    bottom: -22rem;
    left: 0rem;
    width: 36.8rem;
    height: 36.8rem;
  }

  &.bg-3 {
    top: -13rem;
    right: -6rem;
    width: 25.4rem;
    height: 25.4rem;
  }

  &.bg-4 {
    bottom: 10rem;
    right: -59rem;
    width: 63rem;
    height: 51.6rem;
  }
}

@include max-media(1599px) {
  .banner-child-img {
    transition: 0.3s;
    transform: scale(0.7);

    &-1 {
      top: -20rem;
      left: -18rem;
    }

    &-2 {
      top: -18.6rem;
      right: -34.4rem;
    }
  }
}

@include max-media(991px) {
  .banner-child {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba($color: #000000, $alpha: 0.16);
    }
  }

  .banner-child-img {
    filter: blur(0.3rem);

    &-2 {
      transform: scale(0.6);
    }
  }
}

@include max-media(767px) {
  .banner-child-wrap {
    .tt {
      font-size: 5rem;
    }
  }

  .banner-child-img {
    &-2 {
      transform: scale(0.45);
      right: -36.4rem;
    }
  }
}